Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2020-05, with the labels that each got.

#21 Various fixes to kokkostest program
  Makefile
  src/kokkostest/Makefile
  src/kokkostest/plugin-Test1/kokkos/TestProducer.cc
  src/kokkostest/plugin-Test2/kokkos/TestProducer2.cc
  src/kokkostest/plugin-Test2/kokkos/TestProducer3.cc
Labels: kokkos

#23 [alpaka] Remove alpaka from the list of targets until it has been included in the build system
  Makefile
Labels: alpaka, general

#24 Reduce test vector/matrix size to 1000
  src/cudatest/plugin-Test1/gpuAlgo1.cu
  src/cudatest/plugin-Test2/gpuAlgo2.cu
  src/kokkostest/plugin-Test1/kokkos/kokkosAlgo1.cc
  src/kokkostest/plugin-Test2/kokkos/kokkosAlgo2.cc
Labels: cuda, kokkos

#25 Code format
  src/alpaka/Framework/ESPluginFactory.h
  src/cuda/Framework/ESPluginFactory.h
  src/cudatest/Framework/ESPluginFactory.h
  src/fwtest/Framework/ESPluginFactory.h
  src/kokkostest/Framework/ESPluginFactory.h
Labels: alpaka, cuda, general, kokkos

#27 Various small changes to build rules and runtime environment
  .gitignore
  Makefile
  README.md
Labels: cupla, general

#30 [kokkos] Port gpuCalibPixel::calibDigis() kernel to Kokkos
  src/kokkos/CondFormats/SiPixelGainForHLTonGPU.h
  src/kokkos/KokkosDataFormats/SiPixelClustersKokkos.h
  src/kokkos/KokkosDataFormats/SiPixelDigisKokkos.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuCalibPixel.h
Labels: kokkos

#31 [Alpaka] Add prefix scan and its test
  src/alpaka/HeterogeneousCore/AlpakaCore/alpakaConfig.h
  src/alpaka/HeterogeneousCore/AlpakaUtilities/interface/alpakastdAlgorithm.h
  src/alpaka/HeterogeneousCore/AlpakaUtilities/interface/prefixScan.h
  src/alpaka/HeterogeneousCore/AlpakaUtilities/test/prefixScan_t.cc
  src/alpaka/HeterogeneousDataFormats/HeterogeneousClusteringConstants.h
  src/alpaka/Makefile
Labels: alpaka

#32 [kokkos] Copy gpuClustering.h and gpuClusterChargeCut.h from cuda
  src/kokkos/Geometry/phase1PixelTopology.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClusterChargeCut.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClustering.h
Labels: kokkos

#34 porting countModules to Kokkos
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClustering.h
Labels: kokkos

#37 Small updates to Kokkos
  Makefile
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
Labels: kokkos

#38 [alpaka] code format
  src/alpaka/HeterogeneousCore/AlpakaUtilities/interface/prefixScan.h
  src/alpaka/plugin-SiPixelClusterizer/clustering_alpaka.cc
Labels: alpaka

#39 Add support for unit tests, include several for CUDA program
  .gitignore
  Makefile
  src/alpakatest/Makefile
  src/alpakatest/test/alpaka/hello.cc
  src/alpakatest/test/alpaka/world.cc
  src/cuda/CUDACore/launch.h
  src/cuda/Makefile
  src/cuda/test/AtomicPairCounter_t.cu
  src/cuda/test/HistoContainer_t.cu
  src/cuda/test/HistoContainer_t_cpu.cc
  src/cuda/test/OneHistoContainer_t.cu
  src/cuda/test/OneToManyAssoc_cpu_t.cc
  src/cuda/test/OneToManyAssoc_t.cu
  src/cuda/test/OneToManyAssoc_t.h
  src/cuda/test/cpuClustering_t.cc
  src/cuda/test/cudastdAlgorithm_t.cu
  src/cuda/test/cudastdAlgorithm_t_cpu.cc
  src/cuda/test/eigenSoA_t.cu
  src/cuda/test/eigenSoA_t.h
  src/cuda/test/eigenSoA_t_cpu.cc
  src/cuda/test/gpuClustering_t.cu
  src/cuda/test/gpuClustering_t.h
  src/cuda/test/prefixScan_t.cu
  src/cuda/test/radixSort_t.cu
  src/cuda/test/test_GPUSimpleVector.cu
  src/cudatest/Makefile
  src/cudatest/test/hello.cc
  src/cudatest/test/world.cu
  src/fwtest/Makefile
  src/fwtest/test/hello.cc
  src/fwtest/test/world.cc
  src/kokkos/Makefile
  src/kokkos/test/kokkos/clustering.cc
  src/kokkostest/Makefile
  src/kokkostest/test/kokkos/hello.cc
  src/kokkostest/test/kokkos/world.cc
Labels: alpaka, cuda, general, kokkos

#40 Updates to unit tests
  Makefile
  src/alpakatest/Makefile
  src/cuda/Makefile
  src/cuda/test/VertexFinder_t.h
  src/cuda/test/cpuVertexFinder_t.cc
  src/cuda/test/gpuVertexFinder_t.cu
  src/cuda/test/testEigenGPU.cu
  src/cuda/test/testEigenGPUNoFit.cu
  src/cuda/test/testRiemannFit.cc
  src/cuda/test/test_common.h
  src/cudatest/Makefile
  src/fwtest/Makefile
  src/kokkos/Makefile
  src/kokkostest/Makefile
Labels: alpaka, cuda, general, kokkos

#45 Integrate alpaka program into the common build system
  Makefile
  src/alpaka/AlpakaCore/alpakaConfig.h
  src/alpaka/AlpakaCore/alpakastdAlgorithm.h
  src/alpaka/AlpakaCore/prefixScan.h
  src/alpaka/AlpakaDataFormats/gpuClusteringConstants.h
  src/alpaka/Framework/EventSetup.h
  src/alpaka/Framework/ProductRegistry.h
  src/alpaka/Framework/Worker.h
  src/alpaka/Makefile
  src/alpaka/Makefile.deps
  src/alpaka/bin/EventProcessor.cc
  src/alpaka/bin/EventProcessor.h
  src/alpaka/bin/PluginManager.cc
  src/alpaka/bin/PluginManager.h
  src/alpaka/bin/SharedLibrary.cc
  src/alpaka/bin/SharedLibrary.h
  src/alpaka/bin/Source.cc
  src/alpaka/bin/Source.h
  src/alpaka/bin/StreamSchedule.cc
  src/alpaka/bin/StreamSchedule.h
  src/alpaka/bin/main.cc
  src/alpaka/test/alpaka/clustering_alpaka.cc
  src/alpaka/test/alpaka/prefixScan_t.cc
Labels: alpaka

#47 Build Kokkos runtime as a static library, package all code using Kokkos into a single plugin
  Makefile
  nvcc_wrapper.patch
  src/kokkos/KokkosCore/InitializeScopeGuard.h
  src/kokkos/KokkosCore/kokkosConfigCommon.cc
  src/kokkos/KokkosCore/kokkosConfigCommon.h
  src/kokkos/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkos/Makefile
  src/kokkos/Makefile.deps
  src/kokkos/bin/EventProcessor.cc
  src/kokkos/bin/EventProcessor.h
  src/kokkos/bin/main.cc
  src/kokkos/plugin-KokkosCoreImpl/kokkoshost/InitializeScopeGuardImpl.cc
  src/kokkos/plugins.txt
  src/kokkos/test/kokkos/clustering.cc
  src/kokkostest/KokkosCore/InitializeScopeGuard.h
  src/kokkostest/KokkosCore/kokkosConfigCommon.cc
  src/kokkostest/KokkosCore/kokkosConfigCommon.h
  src/kokkostest/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkostest/Makefile
  src/kokkostest/Makefile.deps
  src/kokkostest/bin/EventProcessor.cc
  src/kokkostest/bin/EventProcessor.h
  src/kokkostest/bin/main.cc
  src/kokkostest/plugin-KokkosCoreImpl/kokkoshost/InitializeScopeGuardImpl.cc
  src/kokkostest/plugins.txt
  src/kokkostest/test/kokkos/world.cc
Labels: kokkos

#46 Adding Atomic pair counter
  src/kokkos/KokkosCore/AtomicPairCounter.h
  src/kokkos/test/kokkos/AtomicPairCounter_t.cc
Labels: kokkos

#48 [kokkos] Go back to a dynamic library per package by disabling relocatable device code
  Makefile
  src/kokkos/KokkosCore/InitializeScopeGuard.h
  src/kokkos/KokkosCore/kokkosConfigCommon.cc
  src/kokkos/KokkosCore/kokkosConfigCommon.h
  src/kokkos/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkos/Makefile
  src/kokkos/Makefile.deps
  src/kokkos/bin/EventProcessor.cc
  src/kokkos/bin/EventProcessor.h
  src/kokkos/bin/main.cc
  src/kokkos/plugin-KokkosCoreImpl/kokkoshost/InitializeScopeGuardImpl.cc
  src/kokkos/plugins.txt
  src/kokkos/test/kokkos/AtomicPairCounter_t.cc
  src/kokkos/test/kokkos/clustering.cc
  src/kokkostest/KokkosCore/InitializeScopeGuard.h
  src/kokkostest/KokkosCore/kokkosConfigCommon.cc
  src/kokkostest/KokkosCore/kokkosConfigCommon.h
  src/kokkostest/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkostest/Makefile
  src/kokkostest/Makefile.deps
  src/kokkostest/bin/EventProcessor.cc
  src/kokkostest/bin/EventProcessor.h
  src/kokkostest/bin/main.cc
  src/kokkostest/plugin-KokkosCoreImpl/kokkoshost/InitializeScopeGuardImpl.cc
  src/kokkostest/plugins.txt
  src/kokkostest/test/kokkos/world.cc
Labels: kokkos

#49 [cudauvm] Introduce CachingManagedAllocator and managed_unique_ptr
  README.md
  src/cudauvm/CUDACore/CachingManagedAllocator.h
  src/cudauvm/CUDACore/allocate_managed.cc
  src/cudauvm/CUDACore/allocate_managed.h
  src/cudauvm/CUDACore/getCachingManagedAllocator.h
  src/cudauvm/CUDACore/managed_unique_ptr.h
Labels: cuda, unified memory

#51 Reduce verbosity of validation
  src/cuda/plugin-Validation/CountValidator.cc
  src/cudadev/plugin-Validation/CountValidator.cc
  src/cudauvm/plugin-Validation/CountValidator.cc
Labels: cuda, general

#52 Add BeamSpotToKokkos
  src/kokkos/DataFormats/BeamSpotPOD.h
  src/kokkos/Framework/EventSetup.h
  src/kokkos/Framework/ProductRegistry.h
  src/kokkos/KokkosDataFormats/BeamSpotKokkos.h
  src/kokkos/Makefile.deps
  src/kokkos/bin/main.cc
  src/kokkos/plugin-BeamSpotProducer/BeamSpotESProducer.cc
  src/kokkos/plugin-BeamSpotProducer/kokkos/BeamSpotToKokkos.cc
  src/kokkos/plugins.txt
Labels: kokkos
