Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2020-10, with the labels that each got.

#103 Fix track count validation
  data/md5.txt
  data/url.txt
  src/cuda/plugin-Validation/CountValidator.cc
  src/cudadev/plugin-Validation/CountValidator.cc
  src/cudauvm/plugin-Validation/CountValidator.cc
  src/kokkos/plugin-Validation/kokkos/CountValidator.cc
Labels: cuda, general, kokkos

#104 Add simple histogram-based validation
  src/cuda/CUDADataFormats/TrackingRecHit2DCUDA.cc
  src/cuda/CUDADataFormats/TrackingRecHit2DHeterogeneous.h
  src/cuda/bin/main.cc
  src/cuda/plugin-Validation/HistoValidator.cc
  src/cuda/plugin-Validation/SimpleAtomicHisto.h
  src/cuda/plugins.txt
  src/cuda/test/histo.cc
  src/kokkos/KokkosDataFormats/SiPixelDigisKokkos.h
  src/kokkos/KokkosDataFormats/TrackingRecHit2DKokkos.h
  src/kokkos/bin/main.cc
  src/kokkos/plugin-Validation/SimpleAtomicHisto.h
  src/kokkos/plugin-Validation/kokkos/HistoValidator.cc
  src/kokkos/plugins.txt
Labels: cuda, general, kokkos

#107 [kokkos] Fix more kernel launch parameters
  src/cuda/plugin-Validation/CountValidator.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorKernels.cc
  src/kokkos/plugin-Validation/kokkos/CountValidator.cc
Labels: cuda, kokkos

#108 Add plot-histograms.py
  plot-histograms.py
Labels: general

#109 various CUDA-related improvements
  Makefile
  src/cudatest/plugin-Test1/gpuAlgo1.cu
  src/cudatest/plugin-Test2/gpuAlgo2.cu
Labels: cuda

#111 minor fixes to the SYCL/oneAPI implementation
  src/sycltest/SYCLCore/chooseDevice.cc
  src/sycltest/plugin-Test1/gpuAlgo1.cc
  src/sycltest/plugin-Test2/gpuAlgo2.cc
Labels: sycl

#114 [kokkos] Allocate views without initializing + add labels to parallel_for to facilitate profiling
  src/kokkos/KokkosCore/HistoContainer.h
  src/kokkos/KokkosDataFormats/BeamSpotKokkos.h
  src/kokkos/KokkosDataFormats/SiPixelClustersKokkos.h
  src/kokkos/KokkosDataFormats/SiPixelDigiErrorsKokkos.h
  src/kokkos/KokkosDataFormats/SiPixelDigisKokkos.h
  src/kokkos/KokkosDataFormats/TrackingRecHit2DKokkos.h
  src/kokkos/plugin-PixelTriplets/kokkos/BrokenLineFitOnGPU.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorKernels.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorOnGPU.cc
  src/kokkos/plugin-PixelTriplets/kokkos/RiemannFitOnGPU.cc
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterTracksByDensity.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterTracksDBSCAN.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterTracksIterative.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuSortByPt2.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuVertexFinder.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelFedCablingMapESProducer.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelGainCalibrationForHLTESProducer.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClustering.h
  src/kokkos/plugin-SiPixelRecHits/kokkos/PixelCPEFastESProducer.cc
  src/kokkos/plugin-SiPixelRecHits/kokkos/PixelRecHits.cc
  src/kokkos/test/kokkos/TrajectoryStateSOA_t.cc
  src/kokkos/test/kokkos/VertexFinder_t.cc
  src/kokkos/test/kokkos/clustering.cc
Labels: kokkos

#110 [cudadev] Get rid of cub prefix-scan
  src/cudadev/CUDACore/HistoContainer.h
  src/cudadev/CUDACore/prefixScan.h
  src/cudadev/plugin-PixelTriplets/CAHitNtupletGeneratorKernels.cc
  src/cudadev/plugin-PixelTriplets/CAHitNtupletGeneratorKernels.cu
  src/cudadev/plugin-PixelTriplets/CAHitNtupletGeneratorKernels.h
  src/cudadev/plugin-PixelTriplets/CAHitNtupletGeneratorKernelsAlloc.h
  src/cudadev/plugin-SiPixelClusterizer/SiPixelRawToClusterGPUKernel.cu
  src/cudadev/plugin-SiPixelRecHits/PixelRecHits.cu
  src/cudadev/test/HistoContainer_t.cu
  src/cudadev/test/OneToManyAssoc_t.h
  src/cudadev/test/prefixScan_t.cu
Labels: cuda

#113 Use CUDA_BASE and SYCL_BASE to choose targets to include in all, create hardware-specific test targets
  Makefile
  README.md
  src/alpaka/Makefile
  src/alpakatest/Makefile
  src/cuda/Makefile
  src/cudadev/Makefile
  src/cudatest/Makefile
  src/cudauvm/Makefile
  src/fwtest/Makefile
  src/kokkos/Makefile
  src/kokkostest/Makefile
  src/sycltest/Makefile
Labels: alpaka, cuda, general, kokkos, sycl

#115 Fix debug-only CUDA code
  src/cuda/plugin-SiPixelRecHits/gpuPixelRecHits.h
Labels: cuda
