Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2020-04, with the labels that each got.

#8 Makefile fixes and cleanup
  Makefile
  src/cuda/Makefile
  src/cudatest/Makefile
  src/fwtest/Makefile
  src/kokkostest/Makefile
Labels: cuda, general, kokkos

#9 Improve check .cu file existence check in Makefiles
  src/cuda/Makefile
  src/cudatest/Makefile
Labels: cuda

#10 Move transfer block under 'if not empty' in main
  src/cuda/bin/main.cc
  src/cudatest/bin/main.cc
  src/fwtest/bin/main.cc
  src/kokkostest/bin/main.cc
Labels: cuda, general, kokkos

#11 Fix starvation in absence of work
  src/cuda/bin/StreamSchedule.cc
  src/cudatest/bin/StreamSchedule.cc
  src/fwtest/bin/StreamSchedule.cc
  src/kokkostest/bin/StreamSchedule.cc
Labels: cuda, general, kokkos

#12 Code format
  src/cuda/bin/main.cc
  src/cudatest/bin/main.cc
  src/fwtest/bin/main.cc
  src/kokkostest/bin/main.cc
Labels: cuda, general, kokkos

#13 First version of the kokkostest program
  Makefile
  README.md
  doc/BuildSystem.md
  nvcc_wrapper.patch
  src/kokkostest/Framework/EventSetup.h
  src/kokkostest/Framework/PluginFactory.h
  src/kokkostest/Framework/ProductRegistry.h
  src/kokkostest/Framework/Worker.h
  src/kokkostest/KokkosCore/kokkosConfig.h
  src/kokkostest/KokkosCore/kokkosConfigCommon.h
  src/kokkostest/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkostest/Makefile
  src/kokkostest/Makefile.deps
  src/kokkostest/bin/main.cc
  src/kokkostest/plugin-Test1/TestProducer.cc
  src/kokkostest/plugin-Test1/kokkos/TestProducer.cc
  src/kokkostest/plugin-Test1/kokkos/kokkosAlgo1.cc
  src/kokkostest/plugin-Test1/kokkos/kokkosAlgo1.h
  src/kokkostest/plugin-Test2/TestProducer2.cc
  src/kokkostest/plugin-Test2/TestProducer3.cc
  src/kokkostest/plugin-Test2/kokkos/TestProducer2.cc
  src/kokkostest/plugin-Test2/kokkos/TestProducer3.cc
  src/kokkostest/plugin-Test2/kokkos/kokkosAlgo2.cc
  src/kokkostest/plugin-Test2/kokkos/kokkosAlgo2.h
  src/kokkostest/plugins.txt
Labels: kokkos

#14 Make module macros compatible with namespaces, and add test targets to Makefile
  Makefile
  README.md
  src/cuda/Framework/ESPluginFactory.h
  src/cuda/Framework/PluginFactory.h
  src/cuda/Makefile
  src/cudatest/Framework/ESPluginFactory.h
  src/cudatest/Framework/PluginFactory.h
  src/cudatest/Makefile
  src/fwtest/Framework/ESPluginFactory.h
  src/fwtest/Framework/PluginFactory.h
  src/fwtest/Makefile
  src/kokkostest/Framework/ESPluginFactory.h
  src/kokkostest/Makefile
Labels: cuda, general, kokkos

#16 Add externals for Boost, Alpaka and Cupla
  Makefile
  Makefile.cupla
Labels: alpaka, cupla

#17 Add a simple script to aid in PR testing
  test-pr.sh
Labels: general

#18 Build a local copy of Boost only if the system version is too old
  Makefile
Labels: general

#19 Minimal Skeleton for Alpaka pixel reco
  src/alpaka/AlpakaCore/alpakaConfig.h
  src/alpaka/DataFormats/DigiClusterCount.h
  src/alpaka/DataFormats/FEDHeader.cc
  src/alpaka/DataFormats/FEDHeader.h
  src/alpaka/DataFormats/FEDNumbering.cc
  src/alpaka/DataFormats/FEDNumbering.h
  src/alpaka/DataFormats/FEDRawData.cc
  src/alpaka/DataFormats/FEDRawData.h
  src/alpaka/DataFormats/FEDRawDataCollection.cc
  src/alpaka/DataFormats/FEDRawDataCollection.h
  src/alpaka/DataFormats/FEDTrailer.cc
  src/alpaka/DataFormats/FEDTrailer.h
  src/alpaka/DataFormats/PixelErrors.h
  src/alpaka/DataFormats/SOARotation.h
  src/alpaka/DataFormats/SiPixelDigisSoA.cc
  src/alpaka/DataFormats/SiPixelDigisSoA.h
  src/alpaka/DataFormats/SiPixelRawDataError.cc
  src/alpaka/DataFormats/SiPixelRawDataError.h
  src/alpaka/DataFormats/TrackCount.h
  src/alpaka/DataFormats/VertexCount.h
  src/alpaka/DataFormats/approx_atan2.h
  src/alpaka/DataFormats/fed_header.h
  src/alpaka/DataFormats/fed_trailer.h
  src/alpaka/Framework/EDGetToken.h
  src/alpaka/Framework/EDProducer.h
  src/alpaka/Framework/EDPutToken.h
  src/alpaka/Framework/ESPluginFactory.cc
  src/alpaka/Framework/ESPluginFactory.h
  src/alpaka/Framework/ESProducer.h
  src/alpaka/Framework/EmptyWaitingTask.h
  src/alpaka/Framework/Event.h
  src/alpaka/Framework/EventSetup.h
  src/alpaka/Framework/FunctorTask.h
  src/alpaka/Framework/PluginFactory.cc
  src/alpaka/Framework/PluginFactory.h
  src/alpaka/Framework/ProductRegistry.h
  src/alpaka/Framework/ReusableObjectHolder.h
  src/alpaka/Framework/RunningAverage.h
  src/alpaka/Framework/WaitingTask.h
  src/alpaka/Framework/WaitingTaskHolder.h
  src/alpaka/Framework/WaitingTaskList.cc
  src/alpaka/Framework/WaitingTaskList.h
  src/alpaka/Framework/WaitingTaskWithArenaHolder.cc
  src/alpaka/Framework/WaitingTaskWithArenaHolder.h
  src/alpaka/Framework/Worker.cc
  src/alpaka/Framework/Worker.h
  src/alpaka/Framework/hardware_pause.h
  src/alpaka/Makefile
  src/alpaka/Makefile.deps
  src/alpaka/plugin-SiPixelClusterizer/clustering_alpaka.cc
  src/alpaka/plugin-SiPixelClusterizer/clustering_alpaka.h
Labels: alpaka
