Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-07, with the labels that each got.

#196 [alpaka] Remove CUDA from hard dependencies
  src/alpaka/Makefile
  src/alpaka/Makefile.deps
  src/alpakatest/AlpakaCore/alpakaConfig.h
  src/alpakatest/AlpakaCore/alpakaConfigAcc.h
  src/alpakatest/AlpakaCore/alpakaConfigCommon.h
  src/alpakatest/Makefile
  src/alpakatest/Makefile.deps
  src/alpakatest/bin/main.cc
Labels: alpaka

#198 Add option to build Kokkos-Threads with hwloc
  Makefile
Labels: kokkos

#197 Various improvements to Kokkos version
  README.md
  src/kokkos/KokkosCore/AtomicPairCounter.h
  src/kokkos/KokkosCore/HistoContainer.h
  src/kokkos/KokkosCore/SimpleVector.h
  src/kokkos/KokkosCore/VecArray.h
  src/kokkos/KokkosCore/atomic.h
  src/kokkos/KokkosCore/memoryTraits.h
  src/kokkos/KokkosDataFormats/SiPixelClustersKokkos.h
  src/kokkos/KokkosDataFormats/SiPixelDigisKokkos.h
  src/kokkos/KokkosDataFormats/TrackingRecHit2DKokkos.h
  src/kokkos/KokkosDataFormats/TrackingRecHit2DSOAView.h
  src/kokkos/plugin-PixelTriplets/GPUCACell.h
  src/kokkos/plugin-PixelTriplets/kokkos/BrokenLineFitOnGPU.cc
  src/kokkos/plugin-PixelTriplets/kokkos/BrokenLineFitOnGPU.h
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorKernels.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorKernels.h
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorKernelsImpl.h
  src/kokkos/plugin-PixelTriplets/kokkos/gpuFishbone.h
  src/kokkos/plugin-PixelTriplets/kokkos/gpuPixelDoublets.h
  src/kokkos/plugin-PixelTriplets/kokkos/gpuPixelDoubletsAlgos.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterFillHist.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterTracksByDensity.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterTracksDBSCAN.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuClusterTracksIterative.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuFitVertices.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuSortByPt2.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuSplitVertices.h
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuVertexFinder.cc
  src/kokkos/plugin-PixelVertexFinding/kokkos/gpuVertexFinder.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuCalibPixel.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClusterChargeCut.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClustering.h
  src/kokkos/plugin-SiPixelRecHits/kokkos/gpuPixelRecHits.h
  src/kokkos/test/kokkos/HistoContainer_t.cc
  src/kokkos/test/kokkos/OneHistoContainer_t.cc
  src/kokkos/test/kokkos/OneToManyAssoc_t.cc
  src/kokkos/test/kokkos/VertexFinder_t.cc
  src/kokkos/test/kokkos/clustering.cc
  src/kokkos/test/kokkos/kokkosView.cc
Labels: kokkos

#199 Print a stack trace on CUDA errors
  README.md
  src/cudacompat/CUDACore/cudaCheck.h
  src/cudacompat/Makefile.deps
  src/cudadev/CUDACore/cudaCheck.h
  src/cudadev/Makefile.deps
  src/cudatest/CUDACore/cudaCheck.h
  src/cudatest/Makefile.deps
  src/cudauvm/CUDACore/cudaCheck.h
  src/cudauvm/Makefile.deps
  src/hip/CUDACore/cudaCheck.h
  src/hip/Makefile.deps
  src/hiptest/CUDACore/cudaCheck.h
  src/hiptest/Makefile.deps
  src/kokkostest/CUDACore/cudaCheck.h
  src/kokkostest/Makefile.deps
Labels: cuda, hip, kokkos

#200 Tune the CUDA memory pool used by the stream ordered memory operations
  src/cuda/bin/main.cc
  src/cudadev/bin/main.cc
  src/cudatest/bin/main.cc
Labels: cuda
