Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-06, with the labels that each got.

#186 Update the version of Eigen to include the Patatrack changes
  Makefile
Labels: general

#187 Use explicit number of threads per team for remaining team-wide parallel_scan
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
Labels: kokkos

#189 Print a stack trace on CUDA errors
  Makefile
  src/cuda/CUDACore/cudaCheck.h
  src/cuda/Makefile.deps
Labels: cuda, general

#194 [cudatest,cudadev] Fix the fallback to the stream ordered CUDA memory operations
  src/cudadev/CUDACore/getCachingDeviceAllocator.h
  src/cudatest/CUDACore/getCachingDeviceAllocator.h
Labels: cuda

#193 [cuda] Keep PTX in the final binaries
  Makefile
Labels: cuda

#184 [cuda 11.2] Improve CUDA compilation
  Makefile
  README.md
  src/alpaka/Makefile
  src/alpakatest/Makefile
  src/cuda/Makefile
  src/cudacompat/Makefile
  src/cudadev/Makefile
  src/cudatest/Makefile
  src/cudauvm/Makefile
  src/kokkos/Makefile
  src/kokkostest/Makefile
Labels: alpaka, cuda, cudacompat, general, kokkos
