Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-03, with the labels that each got.

#176 Use consistently curl instead of wget
  Makefile
Labels: general

#175 CUDA: use the stream-ordered memory allocations if the caching allocator is disabled
  Makefile
  README.md
  src/cuda/CUDACore/allocate_device.cc
  src/cuda/CUDACore/allocate_device.h
  src/cuda/CUDACore/allocate_host.cc
  src/cuda/CUDACore/device_unique_ptr.h
  src/cuda/CUDACore/getCachingDeviceAllocator.h
  src/cudadev/CUDACore/allocate_device.cc
  src/cudadev/CUDACore/allocate_device.h
  src/cudadev/CUDACore/allocate_host.cc
  src/cudadev/CUDACore/device_unique_ptr.h
  src/cudadev/CUDACore/getCachingDeviceAllocator.h
  src/cudatest/CUDACore/allocate_device.cc
  src/cudatest/CUDACore/allocate_device.h
  src/cudatest/CUDACore/allocate_host.cc
  src/cudatest/CUDACore/device_unique_ptr.h
  src/cudatest/CUDACore/getCachingDeviceAllocator.h
Labels: cuda

#177 Update Eigen to the upstream master branch
  Makefile
  eigen_hip.patch
Labels: general

#167 Adjustments in AlpakaCore/prefixScan and its test + Add helper functions to handle workdiv
  src/alpaka/AlpakaCore/HistoContainer.h
  src/alpaka/AlpakaCore/alpakaWorkDivHelper.h
  src/alpaka/AlpakaCore/prefixScan.h
  src/alpaka/CUDACore/CMSUnrollLoop.h
  src/alpaka/test/alpaka/AtomicPairCounter_t.cc
  src/alpaka/test/alpaka/OneHistoContainer_t.cc
  src/alpaka/test/alpaka/OneToManyAssoc_t.cc
  src/alpaka/test/alpaka/prefixScan_t.cc
  src/alpakatest/AlpakaCore/alpakaWorkDivHelper.h
  src/alpakatest/plugin-Test1/alpaka/alpakaAlgo1.cc
  src/alpakatest/plugin-Test2/alpaka/alpakaAlgo2.cc
Labels: alpaka
