Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-11, with the labels that each got.

#259 [alpaka] Implement "external work" producers and asynchronous products
  src/alpaka/AlpakaCore/ESProduct.h
  src/alpaka/AlpakaCore/EventCache.h
  src/alpaka/AlpakaCore/HistoContainer.h
  src/alpaka/AlpakaCore/ProductBase.h
  src/alpaka/AlpakaCore/ScopedContext.h
  src/alpaka/AlpakaCore/StreamCache.h
  src/alpaka/AlpakaCore/alpakaConfigAcc.h
  src/alpaka/AlpakaCore/eventWorkHasCompleted.h
  src/alpaka/AlpakaDataFormats/BeamSpotAlpaka.h
  src/alpaka/AlpakaDataFormats/SiPixelClustersAlpaka.h
  src/alpaka/AlpakaDataFormats/SiPixelDigiErrorsAlpaka.h
  src/alpaka/AlpakaDataFormats/SiPixelDigisAlpaka.h
  src/alpaka/AlpakaDataFormats/TrackingRecHit2DAlpaka.h
  src/alpaka/Makefile.deps
  src/alpaka/plugin-BeamSpotProducer/alpaka/BeamSpotToAlpaka.cc
  src/alpaka/plugin-PixelTrackFitting/alpaka/PixelTrackSoAFromAlpaka.cc
  src/alpaka/plugin-PixelTriplets/alpaka/BrokenLineFitOnGPU.cc
  src/alpaka/plugin-PixelTriplets/alpaka/CAHitNtupletAlpaka.cc
  src/alpaka/plugin-PixelTriplets/alpaka/CAHitNtupletGeneratorKernels.cc
  src/alpaka/plugin-PixelTriplets/alpaka/CAHitNtupletGeneratorKernels.h
  src/alpaka/plugin-PixelTriplets/alpaka/CAHitNtupletGeneratorOnGPU.cc
  src/alpaka/plugin-PixelTriplets/alpaka/CAHitNtupletGeneratorOnGPU.h
  src/alpaka/plugin-PixelTriplets/alpaka/PixelTrackSoAFromAlpaka.cc
  src/alpaka/plugin-PixelTriplets/alpaka/RiemannFitOnGPU.cc
  src/alpaka/plugin-PixelVertexFinding/alpaka/PixelVertexProducerAlpaka.cc
  src/alpaka/plugin-PixelVertexFinding/alpaka/PixelVertexSoAFromAlpaka.cc
  src/alpaka/plugin-PixelVertexFinding/alpaka/gpuVertexFinder.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelFedCablingMapESProducer.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelGainCalibrationForHLTESProducer.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelRawToCluster.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelRawToClusterGPUKernel.cc
  src/alpaka/plugin-SiPixelRecHits/alpaka/PixelCPEFastESProducer.cc
  src/alpaka/plugin-SiPixelRecHits/alpaka/PixelRecHits.cc
  src/alpaka/plugin-SiPixelRecHits/alpaka/SiPixelRecHitAlpaka.cc
  src/alpaka/plugin-Validation/alpaka/CountValidator.cc
  src/alpaka/plugin-Validation/alpaka/HistoValidator.cc
  src/alpaka/plugins.txt
Labels: alpaka

#262 [kokkos] Add support for Ampere in KOKKOS_CUDA_ARCH
  Makefile
Labels: kokkos

#263 [cuda,alpaka,kokkos] Add threadfence calls to be able to run 'cuda' on A100
  src/alpaka/plugin-PixelTriplets/alpaka/GPUCACell.h
  src/cuda/plugin-PixelTriplets/GPUCACell.h
  src/cudauvm/plugin-PixelTriplets/GPUCACell.h
  src/kokkos/plugin-PixelTriplets/GPUCACell.h
Labels: kokkos, alpaka, cuda

#264 Update the Boost dependency and the use of external header files
  Makefile
  README.md
Labels: general

#267 [alpaka] Rework of the Alpaka ESProducers
  src/alpaka/AlpakaCore/ESProduct.h
  src/alpaka/CondFormats/PixelCPEFast.h
  src/alpaka/CondFormats/SiPixelFedCablingMapGPUWrapper.h
  src/alpaka/CondFormats/SiPixelGainCalibrationForHLTGPU.h
  src/alpaka/CondFormats/SiPixelGainForHLTonGPU.h
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelFedCablingMapESProducer.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelGainCalibrationForHLTESProducer.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelRawToCluster.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelRawToClusterGPUKernel.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/gpuCalibPixel.h
  src/alpaka/plugin-SiPixelRecHits/alpaka/PixelCPEFastESProducer.cc
  src/alpaka/plugin-SiPixelRecHits/alpaka/SiPixelRecHitAlpaka.cc
  src/cuda/CondFormats/SiPixelGainForHLTonGPU.h
Labels: alpaka

#266 Add threadfence calls in HIP version
  src/hip/plugin-PixelTriplets/GPUCACell.h
Labels: hip

#276 Updates to scanning scripts
  analyze-results.py
  run-many.py
  run-scan.py
Labels: general
