Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-09, with the labels that each got.

#217 Makefile fix
  src/cuda/Makefile
  src/cudacompat/Makefile
  src/cudadev/Makefile
  src/cudatest/Makefile
  src/cudauvm/Makefile
  src/hip/Makefile
  src/hiptest/Makefile
Labels: cuda, hip

#216 [cudadev] Generalize caching allocator
  src/cudadev/CUDACore/GenericCachingAllocator.h
  src/cudadev/CUDACore/allocate_device.cc
  src/cudadev/CUDACore/allocate_host.cc
  src/cudadev/CUDACore/deviceAllocatorStatus.cc
  src/cudadev/CUDACore/deviceAllocatorStatus.h
  src/cudadev/CUDACore/getCachingDeviceAllocator.h
  src/cudadev/CUDACore/getCachingHostAllocator.h
Labels: cuda

#221 Fix uploading the EventSetup conditions to multiple CUDA devices
  src/cuda/CUDACore/ESProduct.h
  src/cuda/CUDACore/ScopedSetDevice.h
  src/cudacompat/CUDACore/ESProduct.h
  src/cudacompat/CUDACore/ScopedSetDevice.h
  src/cudadev/CUDACore/ESProduct.h
  src/cudadev/CUDACore/ScopedSetDevice.h
  src/cudauvm/CUDACore/ESProduct.h
  src/cudauvm/CUDACore/ScopedSetDevice.h
  src/hip/CUDACore/ESProduct.h
  src/hip/CUDACore/ScopedSetDevice.h
Labels: cudacompat, cuda, hip

#223 [cudadev] Code format with LLVM 11
  src/cudadev/CUDADataFormats/SiPixelClustersCUDA.cc
  src/cudadev/CUDADataFormats/SiPixelDigisCUDA.cc
  src/cudadev/CondFormats/SiPixelROCsStatusAndMappingWrapper.cc
  src/cudadev/CondFormats/SiPixelROCsStatusAndMappingWrapper.h
  src/cudadev/plugin-PixelVertexFinding/gpuFitVertices.h
  src/cudadev/plugin-PixelVertexFinding/gpuSortByPt2.h
  src/cudadev/plugin-SiPixelClusterizer/SiPixelRawToClusterCUDA.cc
  src/cudadev/plugin-SiPixelClusterizer/gpuClustering.h
  src/cudadev/plugin-Validation/HistoValidator.cc
Labels: cuda
