Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-01, with the labels that each got.

#152 [kokkos] Add work-in-progress support for HIP backend
  Makefile
  README.md
  eigen_hip.patch
  src/kokkos/CondFormats/pixelCPEforGPU.h
  src/kokkos/KokkosCore/kokkosConfig.h
  src/kokkos/KokkosCore/kokkosConfigCommon.h
  src/kokkos/KokkosCore/kokkos_assert.h
  src/kokkos/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkos/KokkosDataFormats/approx_atan2.h
  src/kokkos/Makefile
  src/kokkos/Makefile.deps
  src/kokkos/bin/main.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorKernels.cc
  src/kokkos/plugin-PixelTriplets/kokkos/gpuFishbone.h
  src/kokkos/plugin-PixelTriplets/kokkos/gpuPixelDoubletsAlgos.h
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClustering.h
  src/kokkos/plugin-SiPixelRecHits/kokkos/gpuPixelRecHits.h
  src/kokkos/plugin-Validation/kokkos/HistoValidator.cc
  src/kokkos/plugins.txt
  src/kokkos/test/kokkos/VertexFinder_t.cc
  src/kokkos/test/kokkos/testEigenGPUNoFit.cc
  src/kokkostest/KokkosCore/ProductBase.h
  src/kokkostest/KokkosCore/kokkosConfig.h
  src/kokkostest/KokkosCore/kokkosConfigCommon.h
  src/kokkostest/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkostest/Makefile
  src/kokkostest/Makefile.deps
  src/kokkostest/bin/main.cc
  src/kokkostest/plugins.txt
Labels: kokkos

#153 Remove duplicate targets in case they could be enabled by many toolchains
  Makefile
Labels: general

#154 [cudatest] Update cudatest from cuda, and remove CUB external
  Makefile
  src/cudatest/CUDACore/CachingDeviceAllocator.h
  src/cudatest/CUDACore/CachingHostAllocator.h
  src/cudatest/CUDACore/ScopedContext.cc
  src/cudatest/CUDACore/deviceAllocatorStatus.cc
  src/cudatest/CUDACore/deviceAllocatorStatus.h
  src/cudatest/CUDACore/getCachingDeviceAllocator.h
  src/cudatest/CUDACore/getCachingHostAllocator.h
  src/cudatest/Makefile
  src/cudatest/Makefile.deps
Labels: cuda

#155 Code format
  Makefile
  README.md
  src/kokkostest/KokkosCore/ProductBase.h
Labels: general

#157 [alpakatest] Add return types to alpakatest algos
  src/alpaka/Makefile
  src/alpakatest/AlpakaCore/alpakaConfig.h
  src/alpakatest/Makefile
  src/alpakatest/plugin-Test1/alpaka/TestProducer.cc
  src/alpakatest/plugin-Test1/alpaka/alpakaAlgo1.cc
  src/alpakatest/plugin-Test1/alpaka/alpakaAlgo1.h
  src/alpakatest/plugin-Test2/alpaka/TestProducer2.cc
  src/alpakatest/plugin-Test2/alpaka/TestProducer3.cc
  src/alpakatest/plugin-Test2/alpaka/alpakaAlgo2.cc
  src/alpakatest/plugin-Test2/alpaka/alpakaAlgo2.h
Labels: alpaka

#162 [cudauvm] Migrate rechit to use managed memory
  README.md
  src/cudauvm/CUDADataFormats/HeterogeneousSoA.h
  src/cudauvm/CUDADataFormats/TrackingRecHit2DCUDA.cc
  src/cudauvm/CUDADataFormats/TrackingRecHit2DHeterogeneous.h
  src/cudauvm/plugin-PixelTriplets/CAHitNtupletGeneratorKernels.h
  src/cudauvm/plugin-Validation/HistoValidator.cc
Labels: cuda, unified memory

#159 [alpaka] Add AtomicPairCounter to alpaka/AlpakaCore and alpaka/test
  src/alpaka/AlpakaCore/AtomicPairCounter.h
  src/alpaka/test/alpaka/AtomicPairCounter_t.cc
Labels: alpaka

#160 [alpaka] Add alpaka WorkDiv helpers
  src/alpaka/AlpakaCore/AtomicPairCounter.h
  src/alpaka/AlpakaCore/alpakaConfig.h
  src/alpaka/AlpakaCore/alpakaWorkDivHelper.h
  src/alpaka/AlpakaCore/prefixScan.h
  src/alpaka/test/alpaka/AtomicPairCounter_t.cc
  src/alpaka/test/alpaka/prefixScan_t.cc
  src/alpakatest/AlpakaCore/alpakaConfig.h
  src/alpakatest/AlpakaCore/alpakaWorkDivHelper.h
  src/alpakatest/plugin-Test1/alpaka/alpakaAlgo1.cc
  src/alpakatest/plugin-Test2/alpaka/alpakaAlgo2.cc
  src/alpakatest/test/alpaka/world.cc
Labels: alpaka

#163 [kokkos] Remove -- numberOfInnerThreads command line argument
  src/kokkos/bin/main.cc
  src/kokkostest/bin/main.cc
Labels: kokkos

#164 [cuda] Add compile macros to disable caching allocator
  README.md
  src/cuda/CUDACore/getCachingDeviceAllocator.h
  src/cudadev/CUDACore/getCachingDeviceAllocator.h
  src/cudatest/CUDACore/getCachingDeviceAllocator.h
  src/cudauvm/CUDACore/getCachingDeviceAllocator.h
Labels: cuda
