Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2021-10, with the labels that each got.

#226 Fix namespace in hip port
  src/hip/CUDACore/ESProduct.h
Labels: hip

#225 [kokkos] Use "device framework" in Kokkos version
  src/kokkos/CUDACore/EventCache.cc
  src/kokkos/CUDACore/EventCache.h
  src/kokkos/CUDACore/ScopedSetDevice.h
  src/kokkos/CUDACore/SharedEventPtr.h
  src/kokkos/CUDACore/SharedStreamPtr.h
  src/kokkos/CUDACore/StreamCache.cc
  src/kokkos/CUDACore/StreamCache.h
  src/kokkos/CUDACore/cudaCheck.h
  src/kokkos/CUDACore/currentDevice.h
  src/kokkos/CUDACore/deviceCount.h
  src/kokkos/CUDACore/eventWorkHasCompleted.h
  src/kokkos/Framework/ReusableObjectHolder.h
  src/kokkos/KokkosCore/ContextState.h
  src/kokkos/KokkosCore/ExecSpaceCache.h
  src/kokkos/KokkosCore/Product.h
  src/kokkos/KokkosCore/ProductBase.h
  src/kokkos/KokkosCore/ScopedContext.h
  src/kokkos/KokkosCore/kokkoshost/ProductBase.cc
  src/kokkos/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkos/Makefile.deps
  src/kokkos/plugin-BeamSpotProducer/kokkos/BeamSpotToKokkos.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletKokkos.cc
  src/kokkos/plugin-PixelTriplets/kokkos/PixelTrackSoAFromKokkos.cc
  src/kokkos/plugin-PixelVertexFinding/kokkos/PixelVertexProducerKokkos.cc
  src/kokkos/plugin-PixelVertexFinding/kokkos/PixelVertexSoAFromKokkos.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToCluster.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToClusterGPUKernel.cc
  src/kokkos/plugin-SiPixelRecHits/kokkos/SiPixelRecHitKokkos.cc
  src/kokkos/plugin-Validation/kokkos/CountValidator.cc
  src/kokkos/plugin-Validation/kokkos/HistoValidator.cc
Labels: kokkos

#230 Fix AtomicPairCounter test for Kokkos/HIP
  src/kokkos/KokkosCore/AtomicPairCounter.h
Labels: kokkos

#244 [alpaka] Replace ALPAKA_ASSERT_OFFLOAD with assert in places that should not depend on Alpaka
  src/alpaka/DataFormats/SiPixelDigisSoA.cc
  src/alpaka/Framework/ReusableObjectHolder.h
  src/alpaka/Framework/WaitingTaskList.cc
  src/alpaka/plugin-Validation/SimpleAtomicHisto.h
Labels: alpaka
