Repository cms-patatrack/pixeltrack-standalone, pull requests merged in 2022-03, with the labels that each got.

#322 [alpaka] Split shared objects to backend-specific libraries
  src/alpaka/Makefile
  src/alpaka/Makefile.deps
  src/alpaka/SiPixelRawToDigi/ErrorChecker.cc
  src/alpaka/SiPixelRawToDigi/ErrorChecker.h
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelRawToCluster.cc
  src/alpaka/plugins.txt
  src/alpakatest/Makefile
Labels: alpaka

#324 Monitor the CPU usage of the event loop
  src/alpaka/bin/PosixClockGettime.h
  src/alpaka/bin/main.cc
  src/alpakatest/bin/PosixClockGettime.h
  src/alpakatest/bin/main.cc
  src/cuda/bin/PosixClockGettime.h
  src/cuda/bin/main.cc
  src/cudacompat/bin/PosixClockGettime.h
  src/cudacompat/bin/main.cc
  src/cudadev/bin/PosixClockGettime.h
  src/cudadev/bin/main.cc
  src/cudatest/bin/PosixClockGettime.h
  src/cudatest/bin/main.cc
  src/cudauvm/bin/PosixClockGettime.h
  src/cudauvm/bin/main.cc
  src/fwtest/bin/PosixClockGettime.h
  src/fwtest/bin/main.cc
  src/hip/bin/PosixClockGettime.h
  src/hip/bin/main.cc
  src/hiptest/bin/PosixClockGettime.h
  src/hiptest/bin/main.cc
  src/kokkos/bin/PosixClockGettime.h
  src/kokkos/bin/main.cc
  src/kokkostest/bin/PosixClockGettime.h
  src/kokkostest/bin/main.cc
  src/serial/bin/PosixClockGettime.h
  src/serial/bin/main.cc
  src/sycltest/bin/PosixClockGettime.h
  src/sycltest/bin/main.cc
Labels: general, kokkos, alpaka, cudacompat, cuda, sycl, hip, serial

#325 Add two ways to record CPU utilization to run-scan.py
  analyze-results.py
  run-scan.py
Labels: general

#327 Revert "Fix compile issue with BOOST_NOINLINE and HIP"
  src/hip/CUDACore/cudaCheck.h
Labels: hip

#330 [alpaka] Initialize devices in many alpaka unit test
  src/alpaka/test/alpaka/AtomicPairCounter_t.cc
  src/alpaka/test/alpaka/HistoContainer_t.cc
  src/alpaka/test/alpaka/OneHistoContainer_t.cc
  src/alpaka/test/alpaka/OneToManyAssoc_t.cc
  src/alpaka/test/alpaka/clustering_t.cc
  src/alpaka/test/alpaka/prefixScan_t.cc
Labels: alpaka

#331 Propagate per-thread CPU efficiency through run-many.py
  run-many.py
  run-scan.py
Labels: general

#332 Store few things as int instead of str in run-many.py
  run-many.py
Labels: general

#336 [kokkos] Fix setting of tbb::global_control
  src/kokkos/bin/main.cc
  src/kokkostest/bin/main.cc
Labels: kokkos

#335 [kokkos] Add support for CUDA Pascal architectures
  Makefile
Labels: kokkos

#334 [kokkos] Silence CUDA device deprecation warnings
  Makefile
Labels: kokkos

#309 [kokkos] Disable Desul atomics temporarily to improve performance
  Makefile
  src/kokkos/KokkosCore/kokkoshost/kokkosConfigCommon.cc
Labels: kokkos

#340 [alpaka] Update the develop branch to 2022.03.10 / 4189bd1e2d
  Makefile
  src/alpaka/AlpakaCore/CachedBufAlloc.h
  src/alpaka/AlpakaCore/ESProduct.h
  src/alpaka/AlpakaCore/EventCache.h
  src/alpaka/AlpakaCore/HostOnlyTask.h
  src/alpaka/AlpakaCore/StreamCache.h
  src/alpaka/AlpakaCore/alpakaDevices.h
  src/alpaka/AlpakaCore/getDevIndex.h
  src/alpaka/AlpakaCore/getDeviceCachingAllocator.h
  src/alpaka/AlpakaCore/getDeviceIndex.h
  src/alpakatest/AlpakaCore/CachedBufAlloc.h
  src/alpakatest/AlpakaCore/EventCache.h
  src/alpakatest/AlpakaCore/HostOnlyTask.h
  src/alpakatest/AlpakaCore/StreamCache.h
  src/alpakatest/AlpakaCore/alpakaDevices.h
  src/alpakatest/AlpakaCore/getDevIndex.h
  src/alpakatest/AlpakaCore/getDeviceCachingAllocator.h
  src/alpakatest/AlpakaCore/getDeviceIndex.h
Labels: alpaka

#341 [alpaka] Update the develop branch to 2022.03.15 / eff3dcee30
  Makefile
Labels: alpaka

#338 [kokkos] serial backend performance fix
  src/kokkos/plugin-SiPixelClusterizer/kokkos/gpuClusterChargeCut.h
Labels: kokkos

#343 [alpaka] Remove unneeded variables and rules from the Makefiles
  Makefile
  src/alpaka/Makefile
  src/alpakatest/Makefile
Labels: general

#344 [cupla] Drop support for building with Cupla
  Makefile
  Makefile.cupla
Labels: cupla

#346 [alpaka] Update the develop branch to 2022.03.18 / 343e6de3d62
  Makefile
Labels: alpaka

#348 [alpakatest] Update common files form alpaka
  src/alpakatest/DataFormats/FEDHeader.h
  src/alpakatest/DataFormats/FEDNumbering.cc
  src/alpakatest/DataFormats/FEDNumbering.h
  src/alpakatest/DataFormats/FEDRawData.cc
  src/alpakatest/DataFormats/FEDRawData.h
  src/alpakatest/DataFormats/FEDRawDataCollection.h
  src/alpakatest/DataFormats/FEDTrailer.h
  src/alpakatest/DataFormats/fed_header.h
  src/alpakatest/DataFormats/fed_trailer.h
  src/alpakatest/Framework/EDGetToken.h
  src/alpakatest/Framework/EDProducer.h
  src/alpakatest/Framework/EDPutToken.h
  src/alpakatest/Framework/ESPluginFactory.cc
  src/alpakatest/Framework/ESPluginFactory.h
  src/alpakatest/Framework/ESProducer.h
  src/alpakatest/Framework/Event.h
  src/alpakatest/Framework/EventSetup.h
  src/alpakatest/Framework/FunctorTask.h
  src/alpakatest/Framework/PluginFactory.cc
  src/alpakatest/Framework/PluginFactory.h
  src/alpakatest/Framework/ProductRegistry.h
  src/alpakatest/Framework/WaitingTask.h
  src/alpakatest/Framework/WaitingTaskHolder.h
  src/alpakatest/Framework/WaitingTaskList.cc
  src/alpakatest/Framework/WaitingTaskList.h
  src/alpakatest/Framework/WaitingTaskWithArenaHolder.cc
  src/alpakatest/Framework/WaitingTaskWithArenaHolder.h
  src/alpakatest/Framework/Worker.cc
  src/alpakatest/Framework/Worker.h
  src/alpakatest/Framework/hardware_pause.h
  src/alpakatest/Makefile
  src/alpakatest/Makefile.deps
  src/alpakatest/bin/EventProcessor.cc
  src/alpakatest/bin/EventProcessor.h
  src/alpakatest/bin/PluginManager.cc
  src/alpakatest/bin/PluginManager.h
  src/alpakatest/bin/SharedLibrary.h
  src/alpakatest/bin/Source.cc
  src/alpakatest/bin/Source.h
  src/alpakatest/bin/StreamSchedule.cc
  src/alpakatest/bin/StreamSchedule.h
Labels: alpaka

#349 Rename TARGETS_HIP to TARGETS_ROCM in Makefile
  Makefile
Labels: general

#306 Use Kokkos partition_space
  src/kokkos/CUDACore/SharedStreamPtr.h
  src/kokkos/CUDACore/StreamCache.cc
  src/kokkos/CUDACore/StreamCache.h
  src/kokkos/KokkosCore/ExecSpaceCache.h
  src/kokkos/KokkosCore/ProductBase.h
  src/kokkos/KokkosCore/kokkoshost/ProductBase.cc
  src/kokkos/KokkosCore/kokkoshost/kokkosConfigCommon.cc
  src/kokkos/plugin-PixelTriplets/kokkos/CAHitNtupletGeneratorOnGPU.cc
  src/kokkos/plugin-SiPixelClusterizer/kokkos/SiPixelRawToCluster.cc
Labels: kokkos

#342 [alpaka] Support CUDA or ROCm/HIP
  src/alpaka/AlpakaCore/AllocatorPolicy.h
  src/alpaka/AlpakaCore/CachedBufAlloc.h
  src/alpaka/AlpakaCore/CachingAllocator.h
  src/alpaka/AlpakaCore/HostOnlyTask.h
  src/alpaka/AlpakaCore/ScopedContext.h
  src/alpaka/AlpakaCore/alpakaConfig.h
  src/alpaka/AlpakaCore/alpakaMemory.h
  src/alpaka/AlpakaCore/alpakaWorkDiv.h
  src/alpaka/AlpakaCore/backend.h
  src/alpaka/AlpakaCore/eigenSoA.h
  src/alpaka/AlpakaCore/getDeviceCachingAllocator.h
  src/alpaka/AlpakaCore/getDeviceIndex.h
  src/alpaka/AlpakaCore/initialise.h
  src/alpaka/AlpakaCore/prefixScan.h
  src/alpaka/AlpakaCore/radixSort.h
  src/alpaka/AlpakaDataFormats/TrackingRecHit2DSoAView.h
  src/alpaka/AlpakaDataFormats/alpaka/BeamSpotAlpaka.h
  src/alpaka/AlpakaDataFormats/alpaka/SiPixelClustersAlpaka.h
  src/alpaka/AlpakaDataFormats/alpaka/SiPixelDigiErrorsAlpaka.h
  src/alpaka/AlpakaDataFormats/alpaka/SiPixelDigisAlpaka.h
  src/alpaka/AlpakaDataFormats/alpaka/TrackingRecHit2DAlpaka.h
  src/alpaka/DataFormats/approx_atan2.h
  src/alpaka/Makefile
  src/alpaka/Makefile.deps
  src/alpaka/alpaka/alpakaExtra.hpp
  src/alpaka/bin/main.cc
  src/alpaka/plugin-PixelVertexFinding/alpaka/gpuSortByPt2.h
  src/alpaka/plugin-PixelVertexFinding/alpaka/gpuSplitVertices.h
  src/alpaka/plugin-SiPixelClusterizer/alpaka/SiPixelRawToClusterGPUKernel.cc
  src/alpaka/plugin-SiPixelClusterizer/alpaka/gpuClustering.h
  src/alpaka/plugin-Validation/alpaka/HistoValidator.cc
  src/alpaka/plugins.txt
  src/alpaka/test/alpaka/clustering_t.cc
  src/alpaka/test/alpaka/prefixScan_t.cc
  src/alpakatest/AlpakaCore/AllocatorPolicy.h
  src/alpakatest/AlpakaCore/CachedBufAlloc.h
  src/alpakatest/AlpakaCore/CachingAllocator.h
  src/alpakatest/AlpakaCore/HostOnlyTask.h
  src/alpakatest/AlpakaCore/ScopedContext.h
  src/alpakatest/AlpakaCore/alpakaConfig.h
  src/alpakatest/AlpakaCore/alpakaMemory.h
  src/alpakatest/AlpakaCore/alpakaWorkDiv.h
  src/alpakatest/AlpakaCore/backend.h
  src/alpakatest/AlpakaCore/getDeviceCachingAllocator.h
  src/alpakatest/AlpakaCore/getDeviceIndex.h
  src/alpakatest/Makefile
  src/alpakatest/Makefile.deps
  src/alpakatest/alpaka/alpakaExtra.hpp
  src/alpakatest/bin/main.cc
  src/alpakatest/plugins.txt
Labels: alpaka

#352 Replace the hipLaunchKernelGGL macro with the CUDA chevron syntax
  Makefile
  README.md
  src/hip/CUDACore/HistoContainer.h
  src/hip/plugin-PixelTriplets/BrokenLineFitOnGPU.cu
  src/hip/plugin-PixelTriplets/CAHitNtupletGeneratorKernels.cu
  src/hip/plugin-PixelTriplets/RiemannFitOnGPU.cu
  src/hip/plugin-PixelVertexFinding/gpuVertexFinderImpl.h
  src/hip/plugin-SiPixelClusterizer/SiPixelRawToClusterGPUKernel.cu
  src/hip/plugin-SiPixelRecHits/PixelRecHits.cu
  src/hip/test/AtomicPairCounter_t.cu
  src/hip/test/OneToManyAssoc_t.h
  src/hip/test/TrackingRecHit2DCUDA_t.cu
  src/hip/test/TrajectoryStateSOA_t.h
  src/hip/test/VertexFinder_t.h
  src/hip/test/eigenSoA_t.h
  src/hip/test/prefixScan_t.cu
  src/hip/test/testEigenGPU.cu
  src/hip/test/testEigenGPUNoFit.cu
  src/hip/test/test_GPUSimpleVector.cu
  src/hiptest/plugin-Test1/gpuAlgo1.cu
  src/hiptest/plugin-Test2/gpuAlgo2.cu
  src/hiptest/test/world.cu
Labels: hip
